.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
	padding: 400px;
  border-radius: 6px;

 }

.card img {
  width: 150px;
}
.card h4 {
  flex-grow: 1;
  padding-left: 40px;
}


